*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    font-family: 'Areal', sans-serif;
    display: flex;
    flex-direction: column;
}
.container{
   width: 90%;
   max-width: 1200px;
   margin: 0 auto;
}
.header{
    background-color: #D2B48C;
    color: white;
    padding: 20px 20px;
}
.header .logo{
    float:left;
    font-size : 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.navigation ul{
list-style:none ;
display:flex;
justify-content: center;
gap: 15px;
margin-top: 5px;
margin-bottom: 5px;
}
.left{
    position: absolute;
    right: 20px;
    top: 6%;
    transform: translateY(-50%);
}
.navigation a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navigation a:hover{
    color: #9CAF88;
}
.header::after{
    content:"";
    display: table;
    clear: both;
}
.content{
    flex: 1;
    padding: 40px 0;
    background-color: #F1ECE4;
    text-align: center;
     transition:  background 0.5s ease,color  0.5s ease;
    background: #f2f2f2;
    color: #111;
}
.footer{
    background-color: #9CAF88;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer a{
    color: white;
    text-decoration: none;
}
.footer a:hover{
    color: #9CAF88;
    
}
table{
    display: flex;
    justify-content: right;
    align-items: center;
    border: none;
    padding: 20px;
    margin: 20px;
    background-color: #cfcbc5;
    border-radius: 20px;
    width: 45%;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    table-layout: fixed;
    height: 330px;
}
table h2{
    margin-bottom: 20px;
    margin-top: 20px;
}

.t1{
    display: flex;
    float: left;
    margin-top: 80px;
}
.t2{
    display: flex;
    justify-self:flex-end;
    margin-top: 80px;
    justify-content: center;
    margin-bottom: 10px;
}
input[type="submit"]{
  padding: 10px 25px;
  background-color: #6b995d;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}
input[type="submit"]:hover{
    background-color: #ddcdb8;
}
.btn {
  padding: 10px 20px;
  background-color: #aca7a7;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}
.btn:hover {
  background-color: #9CAF88;
}
table p{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type="text"],input[type="email"] {
      margin-top: 10px;
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding: 10px;
      font-size: 16px;
 }
label{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: left; 
    align-items: center;
}
textarea{
    width: 60%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.toggle-switch {
  width: 60px;
  height: 30px;
  background-color: #ddd;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .1);
}

.toggle-switch .circle {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute; 
    top: 6px;
    left: 6px;
    transition:left 0.4s ease,background 0.4 ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
.toggle-switch .circle {
  right: 32px; 
}
.icon {
    font: 1.2rem;
    z-index: 1;
    pointer-events:none ;
}
body.dark .toggle-switch{
    background-color: #555;
}
body.dark .toggle-switch .circle{
left :30px;
background: #222;
}
body.dark .content{
    background-color: #111;
    color: #f2f2f2;
}
#sg1:hover{
color: rgb(163, 4, 36);
}
#sg2:hover{
color: rgb(163, 4, 36);
}
#sg3:hover{
color: rgb(163, 4, 36);
}
#sg4:hover{
color: rgb(163, 4, 36);
}
#sg5:hover{
color: rgb(163, 4, 36);
}
